{% extends 'layout.html' %}

{% block title %} DEVIL {% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  {% include 'admin.back.html' %}

  <div class="col-md-12">
    <h4>DEVIL MANAGER</h4>
    <hr />
    <!-- DEVIL FORM -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#form">
            Add New Devil
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="form">
        <div class="panel-body">
          <form role="form-horizontal" method="POST">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="col-sm-2">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="name" placeholder="지옥마왕">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="col-sm-2">Health Point</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" name="health_point" placeholder="750">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="col-sm-2">Attack Speed</label>
                <div class="col-sm-10">
                  <input type="number" step="any" class="form-control" name="attack_speed_per_sec" placeholder="0.5">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="col-sm-2">Physical Damage</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" name="physical_damage" placeholder="100">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="col-sm-2">Magic Damage</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" name="magic_damage" placeholder="100">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="col-sm-2">Armor</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" name="armor" placeholder="20">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="col-sm-2">Magic Resist</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" name="magic_resist" placeholder="20">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="col-sm-2">Skill #1</label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" name="skills[]" placeholder="Fireball">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="col-sm-2">Skill #2</label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" name="skills[]" placeholder="Mirror Image">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label class="col-sm-2">Description</label>
                <textarea name="description" class="form-control" rows="3"></textarea>
                <br />
              </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p>Devil Manager는 플레이어가 최초 마왕 플레이시에만 선택이 가능한 프로토타입. ProtoDevil 항목으로 DB에 저장되고, 마왕 캐릭터를 생성한 후에 Devil 로 옮겨진다.</p>
      <p>일단 한번 생성된 마왕 캐릭터는 관리자가 스탯을 변경해도 적용되지 않음.</p>
    </div class="alert alert-info">
    <hr>
    <h4>LIST</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>HP</th>
          <th>A.Speed/1s</th>
          <th>P.Dmg</th>
          <th>M.Dmg</th>
          <th>Armor</th>
          <th>M.Resist</th>
          <th>Skills</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for devil in devils %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ devil.name }}</td>
          <td>{{ devil.health_point }}</td>
          <td>{{ devil.attack_speed_per_sec }}</td>
          <td>{{ devil.physical_damage }}</td>
          <td>{{ devil.magic_damage }}</td>
          <td>{{ devil.armor }}</td>
          <td>{{ devil.magic_resist }}</td>
          <td>{{ devil.skills }}</td>
          <td>
            {% if devil.published %}
            <a href="/admin/devil/publish/{{ devil.id }}" class="btn btn-xs btn-success">Published</a>
            {% else %}
            <a href="/admin/devil/publish/{{ devil.id }}" class="btn btn-xs btn-warning">Draft</a>
            {% endif %}
          </td>
          <td>
            <a href="/admin/devil/view/{{ devil.id }}" class="btn btn-xs btn-info">View</a>
            <a href="/admin/devil/edit/{{ devil.id }}" class="btn btn-xs btn-primary">Edit</a>
            <a href="/admin/devil/delete/{{ devil.id }}" class="btn btn-xs btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}