{% extends 'layout.html' %}

{% block title %} HERO {% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  {% include 'admin.back.html' %}

  <div class="col-md-12">
    <h4>HERO MANAGER</h4>
    <!-- HERO FORM -->
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#form">
              Add New Hero
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="form">
          <div class="panel-body">
            <form role="form-horizontal" method="POST">
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Class</label>
                  <div class="col-sm-10">
                    <select name="class" class="form-control">
                      <option>Assassin</option>
                      <option>Fighter</option>
                      <option>Magician</option>
                      <option>Range</option>
                      <option>Support</option>
                      <option>Tank</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" placeholder="Zed">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Health Point</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="health_point" placeholder="250">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Attack Speed</label>
                  <div class="col-sm-10">
                    <input type="number" step="any" class="form-control" name="attack_speed_per_sec" placeholder="0.5">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Physical Damage</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="physical_damage" placeholder="100">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Magic Damage</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="magic_damage" placeholder="100">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Armor</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="armor" placeholder="25">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Magic Resist</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="magic_resist" placeholder="25">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Skill #1</label>
                  <div class="col-sm-10">
                    <input type="name" class="form-control" name="skills[]" placeholder="Thunder Grab">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Skill #2</label>
                  <div class="col-sm-10">
                    <input type="name" class="form-control" name="skills[]" placeholder="Invincible">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Tags</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="tags" placeholder="Fighter, Range, Ninja">
                  </div>
                </div>
                <input type="hidden" name="edit_id">
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label class="col-sm-2">Description</label>
                  <textarea name="description" class="form-control" rows="3"></textarea>
                  <br />
                </div>
              </div>
              <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div><!-- HERO FORM -->
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p>Hero Manager는 용사를 영입할 수 있는 메뉴에 나타나는 항목. ProtoHero 로 저장되고, 실제 사용되는 용사는 Hero DB로 옮겨짐.</p>
      <p>일단 한번 생성된 용사 캐릭터는 관리자가 스탯을 변경해도 실제 유저에게는 적용되지 않음.</p>
    </div class="alert alert-info">
    <hr>
    <h4>LIST</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Class</th>
          <th>Name</th>
          <th>HP</th>
          <th>A.Speed/1s</th>
          <th>P.Dmg</th>
          <th>M.Dmg</th>
          <th>Armor</th>
          <th>M.Resist</th>
          <th>Skills</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for hero in heros %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ hero.class }}</td>
          <td>{{ hero.name }}</td>
          <td>{{ hero.health_point }}</td>
          <td>{{ hero.attack_speed_per_sec }}</td>
          <td>{{ hero.physical_damage }}</td>
          <td>{{ hero.magic_damage }}</td>
          <td>{{ hero.armor }}</td>
          <td>{{ hero.magic_resist }}</td>
          <td>{{ hero.skills }}</td>
          <td>
            {% if hero.published %}
            <a href="/admin/hero/publish/{{ hero.id }}" class="btn btn-xs btn-success">Published</a>
            {% else %}
            <a href="/admin/hero/publish/{{ hero.id }}" class="btn btn-xs btn-warning">Draft</a>
            {% endif %}
          </td>
          <td>
            <a href="/admin/hero/view/{{ hero.id }}" class="btn btn-xs btn-info">View</a>
            <a href="/admin/hero/edit/{{ hero.id }}" class="btn btn-xs btn-warning">Edit</a>
            <a href="/admin/hero/delete/{{ hero.id }}" class="btn btn-xs btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="col-sm-12">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
{% endblock %}