{% extends 'layout.html' %}

{% block title %} DEVIL {% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  {% include 'admin.back.html' %}

  <div class="col-md-12">
    <h4>KINGDOM MANAGER</h4>
    <!-- KINGDOM FORM -->
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#form">
              왕국 등록
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="form">
          <div class="panel-body">
            <form role="form-horizontal" method="POST">
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">왕국명</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" placeholder="머나먼 왕국">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">방어력</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="defense" placeholder="100">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">인구</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="population" placeholder="10000">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">경제력 등급</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="economy_level" placeholder="5">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">병력</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="soldiers" placeholder="10">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">군사력 등급</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="army_level" placeholder="5">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">징수 시간(초)</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="time_to_collect" placeholder="600">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">레벨 제한</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="level_limit" placeholder="20">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">소속 공주</label>
                  <div class="col-sm-10">
                    <select multiple name="princess_ids[]" class="form-control">
                      {% for princess in princesses %}
                      <option value="{{ princess.id }}">{{ princess.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label class="col-sm-2">설명</label>
                  <textarea name="description" class="form-control" rows="3"></textarea>
                  <br />
                </div>
              </div>
              <button type="submit" class="btn btn-block btn-primary">등록하기</button>
            </form>

          </div>
        </div>
      </div>
    </div><!-- KINGDOM FORM -->
    <hr>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p>Kingdom Manager는 마왕이 점령할 수 있는 왕국을 관리.</p>
      <p>마왕을 생성할때 ProtoKingdom에서 Publish 되어있는 모든 왕국을 Kingdom로 마왕 id와 함께 저장함.</p>
      <p>따라서 새로운 왕국을 만들면 <button class="btn btn-info btn-xs">왕국 적용</button> 버튼을 클릭하여 현재 플레이중인 모든 Devil에게 적용해 주어야 함.</p>
    </div class="alert alert-info">
    <hr />
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>왕국명</th>
          <th>레벨 제한</th>
          <th>방어력</th>
          <th>인구</th>
          <th>경제력 등급</th>
          <th>병력</th>
          <th>군사력 등급</th>
          <th>징수시간</th>
          <th>상태</th>
          <th>관리</th>
        </tr>
      </thead>
      <tbody>
        {% for kingdom in kingdoms %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ kingdom.name }}</td>
          <td>{{ kingdom.level_limit }}</td>
          <td>{{ kingdom.defense }}</td>
          <td>{{ kingdom.population }}</td>
          <td>{{ kingdom.economy_level }}</td>
          <td>{{ kingdom.soldiers }}</td>
          <td>{{ kingdom.army_level }}</td>
          <td>{{ kingdom.time_to_collect }}</td>
          <td>
            {% if kingdom.published %}
            <a href="/admin/kingdom/publish/{{ kingdom.id }}" class="btn btn-xs btn-success">Published</a>
            {% else %}
            <a href="/admin/kingdom/publish/{{ kingdom.id }}" class="btn btn-xs btn-warning">Draft</a>
            {% endif %}
          </td>
          <td>
            <a href="/admin/kingdom/view/{{ kingdom.id }}" class="btn btn-xs btn-info">View</a>
            <a href="/admin/kingdom/edit/{{ kingdom.id }}" class="btn btn-xs btn-primary">Edit</a>
            <a href="/admin/kingdom/delete/{{ kingdom.id }}" class="btn btn-xs btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="col-sm-12">
      <a href="/admin/kingdom/apply" class="btn btn-info pull-right">왕국 적용</a>
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
{% endblock %}