{% extends 'layout.html' %}

{% block title %} DEVIL {% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  {% include 'admin.back.html' %}

  <div class="col-md-12">
    <h4>MONSTER MANAGER</h4>
    <!-- MONSTER FORM -->
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#form">
              Add New Monster
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="form">
          <div class="panel-body">
            <form role="form-horizontal" method="POST">
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" placeholder="슬라임">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Health Point</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="health_point" placeholder="50">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Attack Speed</label>
                  <div class="col-sm-10">
                    <input type="number" step="any" class="form-control" name="attack_speed_per_sec" placeholder="0.5">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Physical Damage</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="physical_damage" placeholder="25">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Magic Damage</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="magic_damage" placeholder="0">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Armor</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="armor" placeholder="0">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Magic Resist</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="magic_resist" placeholder="0">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Price</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="price" placeholder="50">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Experience</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="experience" placeholder="50">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Skill #1</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="skills[]" placeholder="Thunder Grab">
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-2">Skill #2</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="skills[]" placeholder="Invincible">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label class="col-sm-2">Description</label>
                  <textarea name="description" class="form-control" rows="3"></textarea>
                  <br />
                </div>
              </div>
              <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
            </form>

          </div>
        </div>
      </div>
    </div><!-- MONSTER FORM -->
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p>Monster Manager는 마왕이 구매하여 던전에 배치하거나, 용사가 무찌를 MOB을 위해 만들어논 항목.</p>
      <p>마왕이 한번 구매한 몬스터는 ProtoMonster 에서 Monster 로 옮겨져 수정해도 실제 유저에게는 영향을 끼치지 않음.</p>
    </div class="alert alert-info">
    <hr>
    <hr>
    <h4>LIST</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>HP</th>
          <th>A.Speed/1s</th>
          <th>P.Dmg</th>
          <th>M.Dmg</th>
          <th>Armor</th>
          <th>M.Resist</th>
          <th>Skills</th>
          <th>Price</th>
          <th>Experience</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for monster in monsters %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ monster.name }}</td>
          <td>{{ monster.health_point }}</td>
          <td>{{ monster.attack_speed_per_sec }}</td>
          <td>{{ monster.physical_damage }}</td>
          <td>{{ monster.magic_damage }}</td>
          <td>{{ monster.armor }}</td>
          <td>{{ monster.magic_resist }}</td>
          <td>{{ monster.skills }}</td>
          <td>{{ monster.price }}</td>
          <td>{{ monster.experience }}</td>
          <td>
            {% if monster.published %}
            <a href="/admin/monster/publish/{{ monster.id }}" class="btn btn-xs btn-success">Published</a>
            {% else %}
            <a href="/admin/monster/publish/{{ monster.id }}" class="btn btn-xs btn-warning">Draft</a>
            {% endif %}
          </td>
          <td>
            <a href="/admin/monster/view/{{ monster.id }}" class="btn btn-xs btn-info">View</a>
            <a href="/admin/monster/edit/{{ monster.id }}" class="btn btn-xs btn-warning">Edit</a>
            <a href="/admin/monster/delete/{{ monster.id }}" class="btn btn-xs btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="col-sm-12">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
{% endblock %}