{% extends 'layout.html' %}

{% block title %} DEVIL {% endblock %}

{% block head %}
  {% parent %}
  <style>
  .log {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 5px;
  }
  .gauge {
    border: 1px solid black;
    margin: 15px 0 15px 0;
    height: 30px;
  }
  .gauge > .bar {
    background-color: #CCF;
    height: 100%;
  }
  .dungeon {
    padding: 5px;
    background-color: #DDD;
    min-height: 200px;
  }
  .placeholder {
      background-color: red;
  }
</style>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <h1>DEVIL</h1>
      </div>
      <div class="col-md-10">
        <h1><div class="pull-right" id="timer">TIMER: 0</div></h1>
      </div>
    </div>
    <hr />
    <div class="col-md-3">
      <!-- DEVIL -->
      <h4>KINGDOM</h4>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#devil">
                {% if devil.aka %}
                {{ devil.aka }}
                {% else %}
                {{ devil.name }}
                {% endif %}
                <div style="color: #BBB" class="pull-right">Lv.{{ devil.level }}</div>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse in" id="devil">
            <div class="panel-body">
              <div class="devil">
                <img src="http://lorempixel.com/200/200/people" class="img-thumbnail" />
                <div style="margin-top: 10px;" class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <skill type="button" class="btn btn-default">{{ devil.skills[0] }}</skill>
                  </div>
                  <div class="btn-group">
                    <skill type="button" class="btn btn-default">{{ devil.skills[1] }}</skill>
                  </div>
                </div>
                <h4>STATS</h4>
                <button class="btn btn-block btn-default">
                  <div id="hp" style="background-color: green; width: {{ (devil.current_health_point/devil.health_point)* 100}}%;">
                    HP: {{ devil.current_health_point }}/{{ devil.health_point}}
                  </div>
                </button>
                <button class="btn btn-block btn-default">
                  <div id="ap" style="background-color: green; width: {{ (devil.current_action_point/devil.action_point)* 100}}%;">
                    AP: {{ devil.current_action_point }}/{{ devil.action_point}}
                  </div>
                </button>
                <div class="row">
                  <div class="col-xs-4">경험치</div>
                  <div class="col-xs-8">{{ devil.current_experience }}/{{ devil.target_experience }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">공속</div>
                  <div class="col-xs-8">{{ devil.attack_speed_per_sec }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">물리</div>
                  <div class="col-xs-8">{{ devil.physical_damage }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">마법</div>
                  <div class="col-xs-8">{{ devil.magic_damage }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">방어</div>
                  <div class="col-xs-8">{{ devil.armor }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">저항</div>
                  <div class="col-xs-8">{{ devil.magic_resist }}</div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- DEVIL -->
      </div>

      <div id="colonies" class="panel-group">
        <h4>COLONIES</h4>
        {% if colonies.length %}
        <div class="panel-group">
        {% for colony in colonies %}
          <div data-id="colony-{{ colony.id }}" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#colony-{{ colony.id }}">
                  {{ colony.name }}
                  <div style="color: #BBB" class="pull-right">{{ colony.level }}</div>
                </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="colony-{{ colony.id }}">
              <div class="panel-body">
                <div>
                  <img src="http://lorempixel.com/200/200/city" class="img-thumbnail" />
                  <div class="gauge">
                    <div class="bar" style="width: 100%"></div>
                  </div>
                  <h4>STATS</h4>
                  <div class="row">
                    <div class="col-xs-4">인구</div>
                    <div class="col-xs-8">{{ colony.population }}</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4">경제력</div>
                    <div class="col-xs-8">{{ colony.economy_level }}</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4">병력</div>
                    <div data-type="soldiers" class="col-xs-8">{{ colony.soldiers }}</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4">군사력</div>
                    <div class="col-xs-8">{{ colony.army_level }}</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4">방어도</div>
                    <div class="col-xs-8">{{ colony.defense }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        {% endif %}
      </div>

      <h4>STATS</h4>
      <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#levelModal">레벨업(모달)</button>
      <button id="testButton" class="btn btn-block btn-default">테스트</button>
      <button class="btn btn-block btn-default">돈</button>
      <button class="btn btn-block btn-default">거주지</button>
      <button class="btn btn-block btn-default">레벨</button>
    </div>

    <!-- CITIES -->
    <div class="col-md-3">
      {% if cities.length %}
      <h4>CITIES</h4>
      <div class="panel-group">
      {% for city in cities %}
        <div data-id="city-{{ city.id }}" class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#city-{{ city.id }}">
                {{ city.name }}
                <div style="color: #BBB" class="pull-right">{{ city.level }}</div>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="city-{{ city.id }}">
            <div class="panel-body">
              <div>
                <img src="http://lorempixel.com/200/200/city" class="img-thumbnail" />
                <div class="gauge">
                  <div class="bar" style="width: 100%"></div>
                </div>
                <h4>STATS</h4>
                <div class="row">
                  <div class="col-xs-4">인구</div>
                  <div class="col-xs-8">{{ city.population }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">경제력</div>
                  <div class="col-xs-8">{{ city.economy_level }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">병력</div>
                  <div data-type="soldiers" class="col-xs-8">{{ city.soldiers }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">군사력</div>
                  <div class="col-xs-8">{{ city.army_level }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">방어도</div>
                  <div class="col-xs-8">{{ city.defense }}</div>
                </div>
              </div>
              <hr />
              <attack class="btn btn-block btn-primary" data-city="{{ city.id }}" data-toggle="modal" data-target="#battleModal">공격(Modal)</attack>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}
      <!-- CITIES -->

      <!-- MONSTERS -->
      {% if cities.length %}
      <h4>MONSTERS</h4>
      <div class="panel-group">
      {% for monster in monsters %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#monster-{{ monster.id }}">
                {{ monster.name }}
                <div style="color: #BBB" class="pull-right">{{ city.level }}</div>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="monster-{{ monster.id }}">
            <div class="panel-body">
              <div>
                <img src="http://lorempixel.com/200/200" class="img-thumbnail" />
                <div class="gauge">
                  <div class="bar" style="width: 60%"></div>
                </div>
                <h4>STATS</h4>
                <div class="row">
                  <div class="col-xs-4">HP</div>
                  <div class="col-xs-8">{{ monster.health_point }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">공속</div>
                  <div class="col-xs-8">{{ monster.attack_speed_per_sec }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">물리공격</div>
                  <div class="col-xs-8">{{ monster.physical_damage }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">마법공격</div>
                  <div class="col-xs-8">{{ monster.magic_damage }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">방어력</div>
                  <div class="col-xs-8">{{ monster.armor }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">마법저항</div>
                  <div class="col-xs-8">{{ monster.magic_resist }}</div>
                </div>
              </div>
              <hr />
              <button class="btn btn-block btn-default">구입</button>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}
      <!-- MONSTERS -->

      <h4>UPGRADE</h4>
      <upgrade class="btn btn-block btn-default">돈</upgrade>
      <h4>SHOP</h4>
      <shop class="btn btn-block btn-default">돈</shop>
    </div>

    <div class="col-md-6">
      <h4>DUNGEON</h4>
      <div class="row">
        <div class="col-xs-2">
          <h5>6F</h5>
        </div>
        <div class="col-xs-2">
          <h5>5F</h5>
        </div>
        <div class="col-xs-2">
          <h5>4F</h5>
        </div>
        <div class="col-xs-2">
          <h5>3F</h5>
        </div>
        <div class="col-xs-2">
          <h5>2F</h5>
        </div>
        <div class="col-xs-2">
          <h5>1F</h5>
        </div>
      </div>
      <div class="row">
        <div data-floor="6f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">발록</keeper>
        </div>
        <div data-floor="5f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">데몬</keeper>
          <keeper class="btn btn-block btn-default">오우거</keeper>
        </div>
        <div data-floor="4f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">고블린</keeper>
          <keeper class="btn btn-block btn-default">고블린</keeper>
        </div>
        <div data-floor="3f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">데몬</keeper>
        </div>
        <div data-floor="2f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">트롤</keeper>
          <keeper class="btn btn-block btn-default">오크</keeper>
          <keeper class="btn btn-block btn-default">트롤</keeper>
        </div>
        <div data-floor="1f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">
            <div style="background-color: red; width: 50%;">
              오크
            </div>
          </keeper>
          <keeper class="btn btn-block btn-default">
            <div style="background-color: red; width: 50%;">
              오크
            </div>
          </keeper>
        </div>
      </div>
      <h4>LOG
        <button id="clearLog" class="btn btn-default btn-sm pull-right">로그 정리</button>
      </h4>
      <div id="gameLog" class="log"></div>
    </div>
  </div>


  <!-- Battle Modal -->
  <div class="modal fade" id="battleModal" tabindex="-1" role="dialog" aria-labelledby="battle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="battle">전투</h4>
        </div>
        <div class="modal-body">
          <h5>LOG</h5>
          <div id="battleLog" class="log"></div>
          <hr />
          <attack id="modalAttack" class="btn btn-block btn-primary">전투 시작</attack>
        </div>
        <div class="modal-footer">
          <button id="closeBattle" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Levelup Modal -->
  <div class="modal fade" id="levelModal" tabindex="-1" role="dialog" aria-labelledby="level" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="level">레벨업</h4>
        </div>
        <div class="modal-body">
          <p>레벨업 하실 항목을 선택하세요.</p>
          <table class="table">
            <thead></thead>
            <tbody>
              <tr>
                <td>HP</td>
                <td>{{ devil.health_point }}</td>
                <td>
                  <button class="btn btn-default btn-sm">+</button>
                  <button class="btn btn-default btn-sm">-</button>
                </td>
              </tr>
              <tr>
                <td>AP</td>
                <td>{{ devil.action_point }}</td>
                <td>
                  <button class="btn btn-default btn-sm">+</button>
                  <button class="btn btn-default btn-sm">-</button>
                </td>
              </tr>
              <tr>
                <td>공격속도</td>
                <td>{{ devil.attack_speed_per_sec }}</td>
                <td>
                  <button class="btn btn-default btn-sm">+</button>
                  <button class="btn btn-default btn-sm">-</button>
                </td>
              </tr>
              <tr>
                <td>물리 공격력</td>
                <td>{{ devil.physical_damage }}</td>
                <td>
                  <button class="btn btn-default btn-sm">+</button>
                  <button class="btn btn-default btn-sm">-</button>
                </td>
              </tr>
              <tr>
                <td>마법 공격력</td>
                <td>{{ devil.magic_damage }}</td>
                <td>
                  <button class="btn btn-default btn-sm">+</button>
                  <button class="btn btn-default btn-sm">-</button>
                </td>
              </tr>
              <tr>
                <td>방어력</td>
                <td>{{ devil.armor }}</td>
                <td>
                  <button class="btn btn-default btn-sm">+</button>
                  <button class="btn btn-default btn-sm">-</button>
                </td>
              </tr>
              <tr>
                <td>마법저항</td>
                <td>{{ devil.magic_resist }}</td>
                <td>
                  <button class="btn btn-default btn-sm">+</button>
                  <button class="btn btn-default btn-sm">-</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  $(document).ready(function() {
    var cityId;
    var currentTurn = 0;
    var isBattle = false;

    var $battleLog = $('#battleLog');
    var $gameLog = $('#gameLog');
    var $timer = $('#timer');

    var globalTurn = setInterval(function () {
      if ( isBattle ) {
        console.log('전투중');
        return;
      }

      currentTurn++;
      if ( currentTurn >= 60 ) {
        currentTurn = 0;
      }
      $timer.text('TIMER: ' + currentTurn);

      $.ajax({
        type: 'POST',
        url: '/devil/status',
        success: function (data, status) {
          if ( data.result !== 'success' ) {
            return;
          }

          if ( data.devil.current_health_point !== data.devil.health_point ) {
            $p = $('<p></p>').text('HP가 ' + data.devil.current_health_point + '으로 회복되었습니다.');
            $gameLog.append($p);
          }

          if ( data.devil.current_action_point !== data.devil.action_point ) {
            $p = $('<p></p>').text('AP가 ' + data.devil.current_action_point + '으로 회복되었습니다.');
            $gameLog.append($p);
          }

          var hp = {
            'percent': ((data.devil.current_health_point/data.devil.health_point)*100) + '%',
            'text': 'HP:' + data.devil.current_health_point + '/' + data.devil.health_point
          };
          var ap = {
            'percent': ((data.devil.current_action_point/data.devil.action_point)*100) + '%',
            'text': 'AP:' + data.devil.current_action_point + '/' + data.devil.action_point
          };

          $('#hp').css('width', hp.percent);
          $('#hp').text(hp.text);
          $('#ap').css('width', ap.percent);
          $('#ap').text(ap.text);
          return;
        },
        error: function (error) {
          console.log('error:', error);
          return;
        }
      });
    }, 1000);

    $('#clearLog').on('click', function () {
      $('#gameLog').html('');
      return;
    });

    $('#closeBattle').on('click', function () {
      window.location = '/devil';
      return;
    });

    $('#testButton').on('click', function () {
      console.log('clicked');

      var socket = io.connect('http://localhost:3000');
      socket.emit('attack', { hi: 'hi, hello'});
    });

    $(document).on('click', 'attack', function () {
      var isModalOpenButton = ( $(this).data('toggle') ) ? true : false;

      if ( isModalOpenButton ) {
        cityId = $(this).data('city');
        console.log('cityId:', cityId);
        return;
      }

      $p = $('<p></p>').text('전투시작');
      $battleLog.html('').append($p);

      var battleTurn = setInterval(function () {
        isBattle = true;

        $.ajax({
          type: 'POST',
          url: '/devil/attack',
          data: { 'city_id': cityId },
          success: function (data, status) {
            console.log('data:', data);

            for ( var i in data.logs ) {
              $p = $('<p></p>').text(data.logs[i]);
              $battleLog.append($p);
            }

            if ( data.conclusion ) {
              clearInterval(battleTurn);
              $p = $('<p></p>').text('전투종료');
              $battleLog.append($p);
              isBattle = false;
            }
          },
          error: function (error) {
            console.log('error:', error);
            isBattle = false;
            alert('오류');
          }
        });
      }, 1000);
    });

    $('.dungeon').sortable({
      connectWith: '.dungeon',
      placeholder: "placeholder btn btn-block"
    });
  });
  </script>
{% endblock %}