{% extends 'layout.html' %}

{% block title %} DEVIL {% endblock %}

{% block head %}
  {% parent %}
  <style>
  .log {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 5px;
  }
  .gauge {
    border: 1px solid black;
    margin: 15px 0 15px 0;
    height: 30px;
  }
  .gauge > .bar {
    background-color: #CCF;
    height: 100%;
  }
  .dungeon {
    padding: 5px;
    background-color: #DDD;
    min-height: 200px;
  }
  .placeholder {
      background-color: red;
  }
</style>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <h1>DEVIL</h1>
      </div>
      <div class="col-md-10">
        <h1><div class="pull-right" id="timer">TIMER: 60</div></h1>
      </div>
    </div>
    <hr />
    <div class="col-md-3">
      <!-- DEVIL -->
      <h4>KINGDOM</h4>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#devil">
                마왕
                <div style="color: #BBB" class="pull-right">Devil</div>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="devil">
            <div class="panel-body">
              <div class="devil">
                <img src="http://lorempixel.com/200/200" class="img-thumbnail" />
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <skill type="button" class="btn btn-default">스킬1</skill>
                  </div>
                  <div class="btn-group">
                    <skill type="button" class="btn btn-default">스킬2</skill>
                  </div>
                </div>
                <h4>STATS</h4>
                <div class="row">
                  <div class="col-xs-4">체력</div>
                  <div class="col-xs-8">750/750</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">경험치</div>
                  <div class="col-xs-8">0/1000</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">공속</div>
                  <div class="col-xs-8">0.5/sec</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">물리</div>
                  <div class="col-xs-8">100</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">마법</div>
                  <div class="col-xs-8">100</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">방어</div>
                  <div class="col-xs-8">20</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">저항</div>
                  <div class="col-xs-8">20</div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- DEVIL -->
      </div>

      <div id="colonies" class="panel-group">
        <h4>COLONIES</h4>
      </div>

      <h4>STATS</h4>
      <button class="btn btn-block btn-default">돈</button>
      <button class="btn btn-block btn-default">거주지</button>
      <button class="btn btn-block btn-default">레벨</button>
    </div>

    <!-- CITIES -->
    <div class="col-md-3">
      {% if cities.length %}
      <h4>CITIES</h4>
      <div class="panel-group">
      {% for city in cities %}
        <div data-id="city-{{ city.id }}" class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#city-{{ city.id }}">
                {{ city.name }}
                <div style="color: #BBB" class="pull-right">{{ city.level }}</div>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="city-{{ city.id }}">
            <div class="panel-body">
              <div>
                <img src="http://lorempixel.com/200/200" class="img-thumbnail" />
                <div class="gauge">
                  <div class="bar" style="width: 100%"></div>
                </div>
                <h4>STATS</h4>
                <div class="row">
                  <div class="col-xs-4">인구</div>
                  <div class="col-xs-8">{{ city.population }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">경제력</div>
                  <div class="col-xs-8">{{ city.economy_level }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">병력</div>
                  <div data-type="soldiers" class="col-xs-8">{{ city.soldiers }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">군사력</div>
                  <div class="col-xs-8">{{ city.army_level }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">방어도</div>
                  <div class="col-xs-8">{{ city.defense }}</div>
                </div>
              </div>
              <hr />
              <attack data-target="city-{{ city.id }}" class="btn btn-block btn-default">공격</attack>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}
      <!-- CITIES -->

      <!-- MONSTERS -->
      {% if cities.length %}
      <h4>MONSTERS</h4>
      <div class="panel-group">
      {% for monster in monsters %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#monster-{{ monster.id }}">
                {{ monster.name }}
                <div style="color: #BBB" class="pull-right">{{ city.level }}</div>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="monster-{{ monster.id }}">
            <div class="panel-body">
              <div>
                <img src="http://lorempixel.com/200/200" class="img-thumbnail" />
                <div class="gauge">
                  <div class="bar" style="width: 60%"></div>
                </div>
                <h4>STATS</h4>
                <div class="row">
                  <div class="col-xs-4">HP</div>
                  <div class="col-xs-8">{{ monster.health_point }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">공속</div>
                  <div class="col-xs-8">{{ monster.attack_speed }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">물리공격</div>
                  <div class="col-xs-8">{{ monster.physical_damage }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">마법공격</div>
                  <div class="col-xs-8">{{ monster.magic_damage }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">방어력</div>
                  <div class="col-xs-8">{{ monster.armor }}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">마법저항</div>
                  <div class="col-xs-8">{{ monster.magic_resist }}</div>
                </div>
              </div>
              <hr />
              <button class="btn btn-block btn-default">구입</button>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}
      <!-- MONSTERS -->

      <h4>UPGRADE</h4>
      <upgrade class="btn btn-block btn-default">돈</upgrade>
      <h4>SHOP</h4>
      <shop class="btn btn-block btn-default">돈</shop>
    </div>

    <div class="col-md-6">
      <h4>DUNGEON</h4>
      <div class="row">
        <div class="col-xs-2">
          <h5>6F</h5>
        </div>
        <div class="col-xs-2">
          <h5>5F</h5>
        </div>
        <div class="col-xs-2">
          <h5>4F</h5>
        </div>
        <div class="col-xs-2">
          <h5>3F</h5>
        </div>
        <div class="col-xs-2">
          <h5>2F</h5>
        </div>
        <div class="col-xs-2">
          <h5>1F</h5>
        </div>
      </div>
      <div class="row">
        <div data-floor="6f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">발록</keeper>
        </div>
        <div data-floor="5f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">데몬</keeper>
          <keeper class="btn btn-block btn-default">오우거</keeper>
        </div>
        <div data-floor="4f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">고블린</keeper>
          <keeper class="btn btn-block btn-default">고블린</keeper>
        </div>
        <div data-floor="3f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">데몬</keeper>
        </div>
        <div data-floor="2f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">트롤</keeper>
          <keeper class="btn btn-block btn-default">오크</keeper>
          <keeper class="btn btn-block btn-default">트롤</keeper>
        </div>
        <div data-floor="1f" class="col-xs-2 dungeon">
          <keeper class="btn btn-block btn-default">
            <div style="background-color: red; width: 50%;">
              오크
            </div>
          </keeper>
          <keeper class="btn btn-block btn-default">
            <div style="background-color: red; width: 50%;">
              오크
            </div>
          </keeper>
        </div>
      </div>
      <h4>LOG</h4>
      <div id="log" class="log">
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {

    var cityId;
    // var colonies = [
    //   {
    //     'id': 1
    //   }
    // ];

    // for ( var i in colonies ) {
    //   targetCity = $('[data-id='+'city-'+colonies[i].id+"]");
    //   targetCity.appendTo('#colonies');
    // }

    $(document).on('click', 'attack', function () {
      battle($(this).data('target'));
    });

    $('.dungeon').sortable({
      connectWith: '.dungeon',
      placeholder: "placeholder btn btn-block"
    });

    var isBattleOnGoing = false;
    var clock = 60;
    var $timer = $('#timer');
    var $log = $('#log');

    setInterval(function() {
      clock--;
      $timer.html('TIMER: ' + clock);

      if ( clock === 0 ) clock = 60;
    }, 1000);

    var battle = function (target) {
      if ( isBattleOnGoing ) {
        alert('지금 배틀중입니다.');
        return;
      }

      isBattleOnGoing = true;

      $log.html();
      var turn = 0;

      var devil = {
        'class': 'DEVIL',
        'name': '마왕',
        'health_point': 750,
        'attack_speed': 0.5,
        'physical_damage': 100,
        'magic_damage': 100,
        'armor': 20,
        'magic_resist': 20,
        'skills': [ '파이어볼', '분신' ]
      };

      var hero = {
        "_id": "52f2277cef118ab5468c3087",
        "armor": 10,
        "attack_speed_per_sec": 0.5,
        "class": "Assassin",
        "health_point": 250,
        "job": "Assassin",
        "magic_damage": 100,
        "magic_resist": 10,
        "name": "Zed",
        "physical_damage": 100,
        "skills": [
          "Fierce Stab",
          "Keen Sense"
        ]
      };

      var battleInterval;

      var devilAttack = function () {
        var phy_damage = devil.physical_damage - hero.armor;
        var mag_damage = devil.magic_damage - hero.magic_resist;
        var total_damage = phy_damage + mag_damage;
        hero.health_point -= total_damage;

        logger('마왕이 용사를 공격합니다.');
        logger('마왕이 용사에게 ' + total_damage + '의 데미지를 입혔습니다.');
      };

      var heroAttack = function () {
        var phy_damage = hero.physical_damage - devil.armor;
        var mag_damage = hero.magic_damage - devil.magic_resist;
        var total_damage = phy_damage + mag_damage;
        devil.health_point -= total_damage;

        logger('용사가 마왕을 공격합니다.');
        logger('용사가 마왕에게 ' + total_damage + '의 데미지를 입혔습니다.');
      };

      var logger = function (logMessage) {
        turn++;
        var $message = $('<p></p>');
        $message.text(turn+': '+logMessage);
        $log.append($message);
      };

      var logHeatlhPoint = function () {
        logger('마왕 HP: ' + devil.health_point + ' 용사 HP: ' + hero.health_point);
        return;
      }

      var battleLoop = function () {
        logger('턴');

        devilAttack();
        logHeatlhPoint();

        if ( hero.health_point <= 0 ) {
          logger('마왕이 승리하였습니다.');

          clearInterval(battleInterval);
          isBattleOnGoing = false;
          targetCity = $('[data-id='+target+"]");
          targetCity.find('.panel-collapse').removeClass('in');
          targetCity.appendTo('#colonies');
          return;
        }

        heroAttack();
        logHeatlhPoint();

        if ( devil.health_point <= 0 ) {
          logger('용사가 승리하였습니다.');

          clearInterval(battleInterval);
          isBattleOnGoing = false;
          return;
        }
      };

      logger('배틀 시작!');

      battleInterval = setInterval(battleLoop, 1000);
    };
  });
  </script>
{% endblock %}