{% extends 'layout.html' %}

{% block title %} DEVIL {% endblock %}

{% block head %}
  {% parent %}
  <style>
  .log {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 5px;
  }
  .gauge {
    border: 1px solid black;
    margin: 15px 0 15px 0;
    height: 5px;
  }
  .gauge > .bar {
    background-color: red;
    height: 100%;
  }
  .dungeon {
    padding: 5px;
    background-color: #DDD;
    min-height: 200px;
  }
  .placeholder {
    background-color: red;
  }
  .gauge-bar {
    background-color: green;
    border: 1px solid black;
    height: 4px;
    margin-top: 5px;
  }
</style>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <h1>DEVIL</h1>
      </div>
      <div class="col-md-10">
        <h1><div class="pull-right" id="timer">TIMER: 0</div></h1>
      </div>
    </div>
    <hr />
    <div class="col-md-3">
      <h4>STATS</h4>
      {% if devil.level_up_available == true %}
      <button id="levelup" class="btn btn-block btn-success" data-toggle="modal" data-target="#levelModal">레벨업 가능</button>
      {% else %}
      <button id="levelup" class="btn btn-block btn-default disabled" data-toggle="modal" data-target="#levelModal">레벨업 불가</button>
      {% endif %}
      <button id="money" class="btn btn-block btn-default">돈: {{ player.money }}</button>
      <button id="socketTest" class="btn btn-block btn-default">소켓 테스트</button>

      <h4>
        NEST
        <a href="/admin/devil" class="btn btn-xs btn-default pull-right">Devil 직접수정불가</a>
      </h4>
      <div class="panel-group">
        {% include "devil.template.devil.html" %}
      </div>

      <div id="colonies" class="panel-group">
        <h4>COLONIES</h4>
        {% if colonies.length > 0 %}
        <div class="panel-group">
        {% for colony in colonies %}
          {% include "devil.template.colony.html" %}
        {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-3">
      <!-- KINGDOMS -->
      {% if kingdoms.length > 0 %}
      <h4>
        KINGDOMS
        <a href="/admin/kingdom" class="btn btn-xs btn-default pull-right">Kingdom 직접수정불가</a>
      </h4>
      <div class="panel-group">
      {% for kingdom in kingdoms %}
        {% include "devil.template.kingdom.html" %}
      {% endfor %}
      </div>
      {% endif %}
      <!-- KINGDOMS -->

      <!-- CITIES -->
      {% if cities.length > 0 %}
      <h4>
        CITIES
        <a href="/admin/city" class="btn btn-xs btn-default pull-right">City 직접수정불가</a>
        <a href="/admin/soldier" class="btn btn-xs btn-default pull-right">Soldier 관리</a>
      </h4>
      <div class="panel-group">
      {% for city in cities %}
        {% include "devil.template.city.html" %}
      {% endfor %}
      </div>
      {% endif %}
      <!-- CITIES -->

      <!-- MONSTERS -->
      {% if cities.length > 0 %}
      <h4>
        MONSTERS
        <a href="/admin/monster" class="btn btn-xs btn-default pull-right">Monster 직접수정불가</a>
      </h4>
      <div data-floor="waiting" class="panel-group space" style="min-height: 50px;">
      {% for monster in monsters %}
        {% include "devil.template.monster.html" %}
      {% endfor %}
      </div>
      {% endif %}
      <!-- MONSTERS -->

      <!-- BARRACK -->
      {% if cities.length > 0 %}
      <h4>
        BARRACK
        <a href="/admin/monster" class="btn btn-xs btn-default pull-right">Monster 관리</a>
      </h4>
      <div class="panel-group">
      {% for monster in protomonsters %}
        {% include "devil.template.protomonster.html" %}
      {% endfor %}
      </div>
      {% endif %}
      <!-- BARRACK -->

      <h4>UPGRADE</h4>
      <upgrade class="btn btn-block btn-default">돈</upgrade>
      <h4>SHOP</h4>
      <shop class="btn btn-block btn-default">돈</shop>
    </div>

    <div class="col-md-6">
      <h4>
        DUNGEON
        <a href="/admin/city" class="btn btn-xs btn-default pull-right">Hero 관리</a>
        <button id="dungeonIntruder" class="btn btn-danger btn-xs">던전 공략 테스트</button>
      </h4>
      <div class="row">
        <div class="col-xs-2">
          <h5>6F</h5>
        </div>
        <div class="col-xs-2">
          <h5>5F</h5>
        </div>
        <div class="col-xs-2">
          <h5>4F</h5>
        </div>
        <div class="col-xs-2">
          <h5>3F</h5>
        </div>
        <div class="col-xs-2">
          <h5>2F</h5>
        </div>
        <div class="col-xs-2">
          <h5>1F</h5>
        </div>
      </div>
      <div class="row">
        {% for floor in floors %}
        <div data-floor="{{ loop.index }}f" class="col-xs-2 dungeon space">
          {% for monster in floor %}
            {% include "devil.template.monster.html" %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <h4>LOG
        <button id="clearLog" class="btn btn-default btn-xs pull-right">로그 정리</button>
      </h4>
      <div id="gameLog" class="log"></div>
    </div>
  </div>


  <!-- Battle Modal -->
  {% include "devil.modal.battle.html" %}

  <!-- Levelup Modal -->
  {% include "devil.modal.level.html" %}

  <script type="text/javascript">
  $(document).ready(function() {
    var cityId;
    var currentTurn = 0;
    var isBattle = false;

    var $battleLog = $('#battleLog');
    var $gameLog = $('#gameLog');
    var $timer = $('#timer');

    $('#dungeonIntruder').on('click', function () {
      if ( !confirm('던전 침입 테스트는 현재 1~5명의 영웅이 랜덤하게 침임하도록 만들어졌습니다. 계속하시겠습니까?') ) {
        return;
      }

      $.ajax({
        type: 'POST',
        url: '/devil/monster/intrude',
        // data: { 'monster_id': $(this).data('id') },
        success: function (data, status) {
          if ( data.result !== 'success' ) {
            alert(data.err_msg);
            return;
          }

          for ( var i in data.logs ) {
            $p = $('<p></p>').text(data.logs[i]);
            $gameLog.append($p);
          }

          updateDevil(data.devil);
          // window.location = '/devil';
          return;
        },
        error: function (error) {
          alert(error.err_msg);
          console.log('error:', error);
          return;
        }
      });
    });

    $('buildup').on('click', function () {
      $.ajax({
        type: 'POST',
        url: '/devil/monster/buildup',
        data: { 'monster_id': $(this).data('id') },
        success: function (data, status) {
          if ( data.result !== 'success' ) {
            alert(data.err_msg);
            return;
          }

          console.log('data:', data);
          // window.location = '/devil';
          return;
        },
        error: function (error) {
          alert(error.err_msg);
          console.log('error:', error);
          return;
        }
      });
    });

    $('delete').on('click', function () {
      $.ajax({
        type: 'POST',
        url: '/devil/monster/delete',
        data: { 'monster_id': $(this).data('id') },
        success: function (data, status) {
          if ( data.result !== 'success' ) {
            alert(data.err_msg);
            return;
          }

          window.location = '/devil';
          return;
        },
        error: function (error) {
          alert(error.err_msg);
          console.log('error:', error);
          return;
        }
      });
    });

    $('train').on('click', function () {
      $.ajax({
        type: 'POST',
        url: '/devil/monster/purchase',
        data: { 'monster_id': $(this).data('id') },
        success: function (data, status) {
          if ( data.result !== 'success' ) {
            alert(data.err_msg);
            return;
          }

          window.location = '/devil';
          return;
        },
        error: function (error) {
          alert(error.err_msg);
          console.log('error:', error);
          return;
        }
      });
    });

    $('collect').on('click', function () {
      $.ajax({
        type: 'POST',
        url: '/devil/collect',
        data: { 'colony_id': $(this).data('id') },
        success: function (data, status) {
          if ( data.result !== 'success' ) {
            alert(data.err_msg);
            return;
          }

          window.location = '/devil';
          return;
        },
        error: function (error) {
          console.log('error:', error);
          return;
        }
      });
    });

    var updateDevil = function (data) {
      var curentHp = Number($('#hp').text().split(':')[1].split('/')[0]);
      var curentAp = Number($('#ap').text().split(':')[1].split('/')[0]);

      if ( data.current_health_point !== data.health_point && curentHp !== data.current_health_point ) {
        $p = $('<p></p>').text('HP가 ' + data.current_health_point + '으로 회복되었습니다.');
        $gameLog.append($p);
      }

      if ( data.current_action_point !== data.action_point && curentAp !== data.current_action_point ) {
        $p = $('<p></p>').text('AP가 ' + data.current_action_point + '으로 회복되었습니다.');
        $gameLog.append($p);
      }

      var hp = {
        'percent': ((data.current_health_point/data.health_point)*100) + '%',
        'text': 'HP:' + data.current_health_point + '/' + data.health_point
      };
      var ap = {
        'percent': ((data.current_action_point/data.action_point)*100) + '%',
        'text': 'AP:' + data.current_action_point + '/' + data.action_point
      };

      $('#hp').css('width', hp.percent);
      $('#hp').text(hp.text);
      $('#ap').css('width', ap.percent);
      $('#ap').text(ap.text);
    };

    var updateMonsters = function (monsters) {
      for ( var i in monsters ) {
        var $monster = $('[data-id="monster-hp-'+monsters[i]._id+'"]');
        var $monsterText = $('[data-id="monster-hp-text-'+monsters[i]._id+'"]');

        var text = monsters[i].current_health_point + '/' + monsters[i].health_point;
        var percentage = monsters[i].current_health_point/monsters[i].health_point*100;

        $monster.css('width', (percentage+'%'));
        $monsterText.text(text);
      }

    };

    var globalTurn = setInterval(function () {
      if ( isBattle ) {
        console.log('전투중');
        return;
      }

      currentTurn++;
      if ( currentTurn >= 60 ) {
        currentTurn = 0;
      }
      $timer.text('TIMER: ' + currentTurn);

      $.ajax({
        type: 'POST',
        url: '/devil/status',
        success: function (data, status) {
          if ( data.result !== 'success' ) {
            return;
          }

          if ( data.devil ) {
            updateDevil(data.devil);
          }

          if ( data.devil.level_up_available ) {
            $('#levelup').removeClass('disabled btn-default').addClass('btn-success').text('레벨업 가능');
          } else {
            $('#levelup').removeClass('btn-success').addClass('disabled btn-default').text('레벨업 불가');
          }

          if ( data.monsters.length !== 0 ) {
            updateMonsters(data.monsters);
          }

          return;
        },
        error: function (error) {
          console.log('error:', error);
          return;
        }
      });
    }, 1000);

    $('#clearLog').on('click', function () {
      $('#gameLog').html('');
      return;
    });

    $('#closeBattle').on('click', function () {
      window.location = '/devil';
      return;
    });

    $('#socketTest').on('click', function () {
      console.log('clicked');

      var socket = io.connect('http://localhost:3000');
      socket.emit('attack', { hi: 'hi, hello'});
    });

    $(document).on('click', 'attack', function () {
      var isModalOpenButton = ( $(this).data('toggle') ) ? true : false;

      if ( isModalOpenButton ) {
        cityId = $(this).data('city');
        console.log('cityId:', cityId);
        return;
      }

      $p = $('<p></p>').text('전투시작');
      $battleLog.html('').append($p);

      var battleTurn = setInterval(function () {
        isBattle = true;

        $.ajax({
          type: 'POST',
          url: '/devil/attack',
          data: { 'city_id': cityId },
          success: function (data, status) {
            console.log('data:', data);
            if ( data.result === 'error' || data.result === 'fail' ) {
              alert(data.err_msg);
              $('#battleModal').modal('hide')
              window.location = '/devil';
              return;
            }

            for ( var i in data.logs ) {
              $p = $('<p></p>').text(data.logs[i]);
              $battleLog.append($p);
            }

            if ( data.conclusion ) {
              clearInterval(battleTurn);
              $p = $('<p></p>').text('전투종료');
              $battleLog.append($p);
              isBattle = false;
            }
          },
          error: function (error) {
            console.log('error:', error);
            isBattle = false;
            alert('오류');
          }
        });
      }, 1000);
    });

    var updatePosition = function (event, ui) {
      var floor = $(this).data('floor');
      var monster_id = ui.item.data('id');

      $.ajax({
        type: 'POST',
        url: '/devil/monster/position',
        data: { 'monster_id': monster_id, 'floor': floor },
        success: function (data, status) {
          if ( data.result === 'success' ) {
            return;
          }

          alert(data.err_msg);
          return;
        },
        error: function (error) {
          console.log('error:', error);
        }
      });
    };

    $('.space').sortable({
      connectWith: '.space',
      placeholder: "placeholder btn btn-block",
      receive: updatePosition
    });

    $monsters = $('[data-type="monster"]');
    $monsters.sortable({
      connectWith: '.space',
      placeholder: "placeholder btn btn-block",
      receive: updatePosition
    });
  });
  </script>
{% endblock %}