{% extends 'layout.html' %}

{% block title %} 마왕 키우는 용사 {% endblock %}

{% block head %}
  {% parent %}

{% endblock %}

{% block content %}
  <div class="col-md-12">
      <h1>마왕 키우는 용사
      <a href="/logout" class="btn btn-danger pull-right">Logout</a></h1>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <button data-name="{{ player.name }}" class="btn btn-info">{{ player.name }}</button>
        <a href="/player" class="btn btn-primary pull-right">플레이어 변경</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <a href="/hero" class="btn btn-block btn-default">HERO</a>
      </div>
      <div class="col-md-6">
        <a href="/devil" class="btn btn-block btn-default">DEVIL</a>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  $(document).ready(function () {
    $('button').on('click', function () {
      var $playerName = $(this).text();

      if ( !$playerName ) {
        return;
      }

      alert('현재 선택된 플레이어는 [' + $playerName + '] 입니다. 변경하시려면 오른쪽 변경 버튼을 클릭하세요.');
      return;
    });
  });
  </script>
{% endblock %}