{% extends 'layout.html' %}

{% block title %} 마왕 키우는 용사 {% endblock %}

{% block head %}
  {% parent %}

{% endblock %}

{% block content %}
  <div class="col-md-12">
      <h1>마왕 키우는 용사
      <a href="/logout" class="btn btn-primary pull-right">Logout</a></h1>
    <hr />
    <div class="col-md-6">
      <a href="/hero" class="btn btn-block btn-default">HERO</a>
    </div>
    <div class="col-md-6">
      <a href="/devil" class="btn btn-block btn-default">DEVIL</a>
    </div>
  </div>
{% endblock %}